[submodule "UX-UI"]
	path = UX-UI
	url = https://github.com/The-Bridge-Challenge/UX-UI.git
[submodule "FULLSTACK"]
	path = FULLSTACK
	url = https://github.com/The-Bridge-Challenge/FULLSTACK.git
[submodule "DATA-SCIENCE"]
	path = DATA-SCIENCE
	url = https://github.com/The-Bridge-Challenge/DATA-SCIENCE.git
[submodule "CYBERSEGURIDAD"]
	path = CYBERSEGURIDAD
	url = https://github.com/The-Bridge-Challenge/CYBERSEGURIDAD.git
[submodule "MARKETING"]
	path = MARKETING
	url = https://github.com/The-Bridge-Challenge/MARKETING.git
[submodule "CLOUD-DEVOPS"]
	path = CLOUD-DEVOPS
	url = https://github.com/The-Bridge-Challenge/CLOUD-DEVOPS.git
